@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4" style="font-family: 'Comic Sans MS'">Manage books you have read simply with our app!</h1>

    <img src="/images/BooksMain.jpg" class="shadow p-15 bg-white rounded" alt="" />
    <br />
    <br />
    <br />

    <a asp-controller="Home" asp-action="GetBooks">
        <input type="button" class="btn btn-primary" style="background-color:mediumpurple; color:black" value="See our Library!" />
    </a>

    @*<h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
